@import "./variables.scss";
@import "./mixins.scss";

.header {
  background-color: $background-light;

  &-container {
    flex-direction: column;
    height: 100%;

    @include respond-to("small") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-image {
    height: 150px;
    margin-bottom: 30px;
    margin-right: 20px;

    @include respond-to("small") {
      height: 200px;
      margin-bottom: 0;
    }

    @include respond-to("medium") {
      height: 300px;
    }
  }

  &-text {
    color: $body-dark;
    background-color: white;
    width: 80%;
    padding: 20px;
    margin: 40px auto;

    @include respond-to("small") {
      text-align: left;
      align-items: flex-start;
    }

    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0.6, 0.6, 0.6, 0.3);
  }

  &-name {
    @include xlarge-font();
    font-weight: bold;
    color: slategray;
  }

  &-extra-info {
    margin-top: 1rem;
    font-style: italic;
    @include medium-font();
  }

  &-tagline {
    @include large-font();
    margin-top: 1rem;
  }
}

.news {
  &-text, &-text > p {
    display: inline;
  }
}

.news-section, .key-dates-section {
  max-width: 900px;
  margin: auto;

  > h4 { 
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    padding-left: 0;
  }
}

.news-section-wrapper, .key-dates-section-wrapper {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;

  p {
    margin-left: auto;
    margin-right: auto;
  }

  padding-left: 20px;
  padding-right: 20px;
}

.date {
  margin-right: 1rem;
  font-weight: bold;
  white-space: nowrap;
}

.extra-date-info {
  font-style: italic;
  font-size: 0.9rem;
}

table.key-date-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.key-date-info, .news-section {

  td {
    padding: 2px 4px;
  }
}
