@import "./variables.scss";
@import "./mixins.scss";

.header {
  background-color: $background-light;
  padding: 50px 30px;

  &-container {
    flex-direction: column;
    height: 100%;

    @include respond-to("small") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-image {
    height: 150px;
    margin-bottom: 30px;
    margin-right: 20px;

    @include respond-to("small") {
      height: 200px;
      margin-bottom: 0;
    }

    @include respond-to("medium") {
      height: 300px;
    }
  }

  &-text {
    color: white;
    background-image: url("/img/earth-from-space.jpg");
    background-size: cover;
    background-color: black;
    background-position: top;
    background-repeat: no-repeat;

    width: 80%;
    padding: 20px;
    margin: 0px auto;

    @include respond-to("small") {
      text-align: right;
      align-items: flex-start;
    }

    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
  }

  &-name {
    @include xlarge-font();
    font-weight: bold;
    color: rgb(157, 180, 204);
  }

  &-extra-info {
    margin-top: 1rem;
    font-style: italic;
    @include medium-font();
  }

  &-tagline {
    @include large-font();
    margin-top: 1rem;
  }
}

.news {
  &-text, &-text > p {
    display: inline;
  }
}

.single-updates-section, .key-dates-section {
  margin: auto;

  > h4 { 
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.key-info-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $page-content-width;
  margin: auto;
}

.updates-section {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  flex-grow: 1;
}

.key-dates-section-wrapper {
  flex-basis: 40%;
  flex-grow: 1;
  min-width: $page-content-width * 0.4;
}

.updates-section-wrapper, .key-dates-section-wrapper {
  margin-bottom: 50px;

  p {
    margin-left: auto;
    margin-right: auto;
  }

  padding-left: 20px;
  padding-right: 20px;
}

.date {
  margin-right: 1rem;
  font-weight: bold;
  white-space: nowrap;
}

.extra-date-info {
  font-style: italic;
  font-size: 0.9rem;
}

table.key-date-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.key-date-info, .news-section {

  td {
    padding: 2px 4px;
  }

  .key-date-formerly {
    font-style: italic;
    opacity: 0.8;
  }
}
