$logo-width: 180px;
$logo-padding: 30px;
$logo-box-size: $logo-width + $logo-padding;

.level-listing {
  h3 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  margin-bottom: 2rem;

  .sponsor {
    width: $logo-box-size;
    height: $logo-box-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    align-items: center;
    margin: 8px;
  }

  .level-listing-sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}
